TELEGRAM_API_TOKEN="<YOUR_TELEGRAM_API_TOKEN>"
UPSTASH_REDIS_REST_URL="https://<YOUR_UPSTASH_URL>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="<YOUR_UPSTASH_REST_TOKEN>"
CLOUDFLARE_WORKER_QUEUE_URL="http://localhost:8788"
UPSTASH_QSTASH_TOKEN="<YOUR_UPSTASH_QSTASH_TOKEN>"
QSTASH_QUEUE="<YOUR_QSTASH_QUEUE_NAME>"