TELEGRAM_API_TOKEN="<YOUR_TELEGRAM_API_TOKEN>"
UPSTASH_REDIS_REST_URL="https://<YOUR_UPSTASH_URL>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="<YOUR_UPSTASH_REST_TOKEN>"
UPSTASH_QSTASH_CURRENT_SIGNING_KEY="<YOUR_UPSTASH_QSTASH_CURRENT_SIGNING_KEY>"
UPSTASH_QSTASH_NEXT_SIGNING_KEY="<YOUR_UPSTASH_QSTASH_NEXT_SIGNING_KEY>"